body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: bisque;
    padding: 20px;
    max-width: 250px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
}

.flarp{
    animation: flarpRotate 3s linear forwards;
    transform-origin: 1% 39%;
}

@keyframes flarpRotate{
    0% {
        transform: rotateX(0deg)
    }
    100% {
        transform: rotateX(180deg)
    }
}




#clockarm1{
    animation: rotate 1s linear infinite;
    transform-origin: 50% 50%;
}

#clockarm2{
    animation: rotate 6s linear infinite;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.triangel1{
    animation: flashfillblue 1s linear infinite;
}

.triangel2{
    animation: flashfillred 2s linear infinite;
}

.triangel3{
    animation: flashfillyellow 0.5s linear infinite;
}

@keyframes flashfillblue {
    100% {
        fill:blue
    }
}

@keyframes flashfillred {
    100% {
        fill:red
    }
}

@keyframes flashfillyellow {
    100% {
        fill:yellow
    }
}   

.scepticface{
    display: block;
}

#eyesclosed{
   position: relative;
   left: -105px;
   z-index: -1;
   animation: eyesblink 3s linear infinite;
}

@keyframes eyesblink {
    0%, 40%, 60%{
        z-index: -1;
    }
    50%, 100%{
        z-index:1;    
    }
}